/* Here you can write your CSS code */
body {
    background-color: #fff;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

/* .l-header {
    background-color: #333333;
    display: flex;
    justify-content: center;
    height: 45px;
}
.c-nav [role='menuitem']{
    color:#ffffff;
}
.logo-android__wordmark-icon {
color:#ffffff;
}
.l-header .c-nav--main {
    float: none;
}
.c-nav--main .btn--search {
    position: static;
}
.c-nav__inner {
    display: flex;
}
.l-header .logo-android {
    margin: 10px 30px 10px 40px;
}
.l-header .c-nav--main [role='menubar']{
    margin: 5px 75px 5px 0;
}
.c-nav [role='menuitem']:hover,
.c-nav--main .btn--search:hover {
    color: white;
} */


/** footer */
.l-footer {
    background-color: #f5f5f7;
    position: relative;
    z-index: 900;
}

.l-footer__metadata {
    background-color: #f5f5f7;
    color: #86868b;
    font-weight: 300;
    padding: 20px; 
}

.l-footer .c-nav [role='menuitem'] {
    color: #86868b;
}

.l-footer .c-nav [role='menuitem']:hover {
    color: #86868b;
    text-decoration: underline;
    text-decoration-color: #86868b;
}

/* Section 1 - Phones page */
.text-normal {
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: .011em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.o-container {
    color: #1d1d1f;
}

h1 {
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -.003em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;

}

.u-bg-gray-medium-gradient {
    padding-top: 144px;
}


/* Section 2 - Phones page */

.simple-carousel { 
    background-color:  #000;
    padding-top: 75px;
    padding-bottom: 75px;
}

a, .link {
    color: #2997ff;
}

.c-device__title {
    font-size: 17px;
}

.c-device__title:hover {
    text-decoration: underline;
    text-decoration-color: #2997ff;
    color: #2997ff;
}

/* Section 3 */
/* .o-container  {
    background-color: ;
} */