/* Here you can write your CSS code */

.l-header {
    background-color: #333333;
    display: flex;
    justify-content: center;
    height: 45px;
}
.c-nav [role='menuitem']{
    color:#ffffff;
}
.logo-android__wordmark-icon {
color:#ffffff;
}
.l-header .c-nav--main {
    float: none;
}
.c-nav--main .btn--search {
    position: static;
}
.c-nav__inner {
    display: flex;
}
.l-header .logo-android {
    margin: 10px 30px 10px 40px;
}
.l-header .c-nav--main [role='menubar']{
    margin: 5px 75px 5px 0;
}
.c-nav [role='menuitem']:hover,
.c-nav--main .btn--search:hover {
    color: white;
}
.u-bg-white {
    background-color: #000000 !important;
}
.hero-carousel__title, .hero-carousel__body-content {
    color:white;
    font-weight: bold;
}
.btn--blue.btn--full, .btn--blue.btn--full:hover {
    background-color: transparent;
    color: #2997ff;
    border-color: transparent;
}
.btn--blue.btn--full:hover {
    text-decoration: underline;
}