/* Here you can write your CSS code */


.l-header {
    background-color: #333333;
    display: flex;
    justify-content: center;
    height: 45px;
}
.c-nav [role='menuitem']{
    color:#ffffff;
}
.logo-android__wordmark-icon {
color:#ffffff;
}
.l-header .c-nav--main {
    float: none;
}
.c-nav--main .btn--search {
    position: static;
}
.c-nav__inner {
    display: flex;
}
.l-header .logo-android {
    margin: 10px 30px 10px 40px;
}
.l-header .c-nav--main [role='menubar']{
    margin: 5px 75px 5px 0;
}
.c-nav [role='menuitem']:hover,
.c-nav--main .btn--search:hover {
    color: white;
}

.l-footer {
    background-color: #f5f5f7;
    position: relative;
    z-index: 900;
}

.l-footer__metadata {
    background-color: #f5f5f7;
    color: #86868b;
    font-weight: 300;
    padding: 20px; 
}

.c-nav [role='menuitem'] {
    color: #86868b;
}

.c-nav [role='menuitem']:hover {
    color: #86868b;
    text-decoration: underline;
    text-decoration-color: #86868b;
}