a:hover, a:focus, .link:hover, .link:focus {
  color: white;
}

.u-bg-gray-light {
  background-color: #000000!important;
  color: white;
}

.enter--home{
  background-color: #000000;
}

h1.beta {
  font-size: 4rem;
  line-height: 1;
  font-weight: bold;
  color: #ffffff;
}
h2.alpha,
p.text-normal,
h3.beta {
  color: #ffffff;
}
.btn {
  border: 0;
  color: #06c;
}

.btn:hover {
  color: #06c;
  text-decoration: underline;
}


.enter--home .section-users .simple-carousel .btn:hover {
  color: #06c;
}

.slide__text.text-normal {
  font-weight: bold;
  color: #ffffff;
}

[aria-selected='true'] .c-pager__item-link {
  background-color: #000000;
}

[aria-selected='true'] .c-pager__item-link:hover {
  background-color: rgba(255,255,255, 0.7);
}

.enter-subnav .enter-subnav__nav-link:hover,
.enter-subnav .enter-subnav__nav-link.is-active,
.enter-subnav .enter-subnav__nav-link.open {
  color: rgba(255, 255, 255, .6);
}

.enter-subnav__sticky {
  justify-content: center;
}

.enter-subnav__nav {
  flex: 0 auto;
}

.enter-subnav__brand__text {
  font-size: 21px;
  line-height: 1.14286;
  font-weight: 600;
}

.enter-subnav__cta,
.enter-subnav__cta:hover {
  text-transform: lowercase;
  color: #06c;
  background-color: transparent;
}

.enter-subnav__cta:hover {
  text-decoration: underline;
}

.enterprise .l-footer,
.enterprise .l-footer .c-nav [role="menuitem"],
.enterprise .l-footer__metadata {
  color: white;
  background-color: #000000;
}