
/* Here you can write your CSS code */
body {
    background-color: #fff;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

/** footer */
.l-footer {
    background-color: #f5f5f7;
    position: relative;
    z-index: 900;
}

.l-footer__metadata {
    background-color: #f5f5f7;
    color: #86868b;
    font-weight: 300;
    padding: 20px; 
}

.l-footer .c-nav [role='menuitem'] {
    color: #515154;
}

.l-footer .c-nav [role='menuitem']:hover {
    color: #515154;
    text-decoration: underline;
    text-decoration-color: #515154;
}

/* Section 1 - Phones page */
.text-normal {
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: .011em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.o-container {
    color: #1d1d1f;
}

h1 {
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -.003em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;

}

.u-bg-gray-medium-gradient {
    padding-top: 144px;
}


/* Section 2 - Phones page */

.simple-carousel { 
    background-color:  #000;
    padding-top: 75px;
    padding-bottom: 75px;
}

a, .link {
    color: #2997ff;
}

.c-device__title {
    font-size: 17px;
}

.c-device__title:hover {
    text-decoration: underline;
    text-decoration-color: #2997ff;
    color: #2997ff;
}

/* Section 3 */
/* .o-container  {
    background-color: ;
} */